# PyInstaller build directories
dist/
build/
*.spec

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.env/

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# Windows specific
Thumbs.db
desktop.ini

# macOS specific
.DS_Store
.AppleDouble
.LSOverride

# Temporary files
*.log
*.tmp
temp_comic_merge/ 